<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/intro.css")
    script(type='text/javascript', src="js/jquery.min.js")
    title 社团
  body
    section#header
      div.head.container-fulid
        div#name 社团
        ul#head-nav 
          li.nav-item 
            a(href="/") 首页
          li.nav-item 部门
              ul#nav-list 
                li
                  a(href="branch_1") 部门一
                li
                  a(href="branch_2") 部门二
                li
                  a(href="branch_3") 部门三
                li
                  a(href="branch_4") 部门四
          li.nav-item 
            a(href="activities") 活动 
          li.nav-item
            a(href="intro") 简介
        div#nav-menu 

    section#main
      p#title 社团简介
      p 社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。社团简介，从过去到现在，从现在到未来，从耕耘到收获，从每一天的学习开始，从每一次深夜揉眼睛，从每一次伸懒腰，成长从一点一点开始。

    div#footer 
      div.foot-nav 
        a(href="/") 首页
        a(href="activities") 活动
        a(href="intro") 简介
      p © 2010-2017
  script(type='text/javascript', src='js/menuControll.js')
